*
{
    box-sizing: border-box;
}
body
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 100px;
}
.columns
{
    margin: 0 auto;
    padding: 0;
}
.column
{
    margin-left: 5x;
    margin-right: 5px;
}
.has-background-dark
{
    color: lightgray;
}
.summaryHeader
{
    font-size: 20pt;
    padding-bottom: 10px;
    border-bottom: solid lightgray 5px;
}
#header
{
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    margin: 0 auto;
    width:95%;
    padding-bottom: 20px;
}
#summary
{
    width: 95%;
    margin: 25px auto;
    padding-bottom:40px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
#day
{
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    width: 95%;
    margin: 0 auto;
    padding-bottom:40px;
}
#date-header
{
    font-size: 20pt;
    padding-bottom: 10px;
    border-bottom: solid lightgray 5px;
}
#mapDiv
{
    padding: 20px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    margin: 20px auto;
    width:95%;
}
